doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1")
    if (localMode)
      link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')
    else
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    if (localMode)
      script(type='text/javascript', src='/scripts/jquery.min.js')
      script(type='text/javascript', src='/scripts/bootstrap.min.js')
      script(type='text/javascript', src='/scripts/angular.min.js')
    else
      script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
      script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
      script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    script(type='text/javascript', src='/scripts/errors.js')
    script(type='text/javascript', src='/scripts/global.js')
  body
    .container
      .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="/") ThoughtBnB
          .navbar-collapse.collapse
            ul.navbar-nav.nav.navbar-right
              li(class=typeof activeLink === "undefined" ? "active" : "")
                a(href='/') Home
              if user
                li(class=activeLink === "listings" ? "active" : "")
                  a(href='/listings') Listings
                li
                  a(href='/signout') Log Out
              else
                li(class=activeLink === "signin" ? "active" : "")
                  a(href='/signin') Sign In
    .container.main-container(role="main")
      block content
