extends layout

block content
  h1=title
  div(ng-app="thoughtbnb")
    #listings(ng-controller="ListingsController" ng-init="cities=['Atlanta','Chicago','Dallas', 'New York', 'San Francisco']")
     div
      #btnSignin.btn.btn-primary.citiesBtn(ng-click="$parent.search.location = city;", ng-repeat="city in cities") {{city}}
      #btnSignin.btn.btn-primary(ng-click="search.location = '!!'") All locations
     .listing.panel.panel-default.col-xs-12.col-sm-4(ng-repeat="listing in listings | filter:search" )
       .panel-body
         h3 {{listing.location}}
         p
           a(href="mailto:{{listing.user.email}}") {{listing.user.name}}
         p {{listing.description}}  
         
  script(src="/scripts/listingsController.js")
  script(src="/scripts/listings.js")
