extends layout

block content
  div(ng-app="thoughtbnb")
    #listings(ng-controller="ListingsController as controller" ng-init="cities=['Atlanta','Chicago','Dallas', 'New York', 'San Francisco']; showListing=false; isCollasped=true")
     div#cities(style="margin-bottom:5px")
      h3 Where would you like to go?
      #btnSignin.btn.btn-primary.citiesBtn(ng-class="{'active':search.location === '{{city}}'}" ng-click="$parent.search.location = city; $parent.showListing=true; $parent.showDetails=false", ng-repeat="city in cities") {{city}}
      #btnSignin.btn.btn-primary(ng-click="search.location = '!!'; showListing=true") Anywhere!
     #listings.panel.panel-default.col-xs-12.col-sm-4(ng-show="showListing" style="border: 0px")
      .listing.panel.panel-default.row(ng-repeat="listing in listings | filter:search as results" )
        .panel-body
          a(href="#")#listing(ng-cloak ng-click="controller.getSelectedListing(listing._id); $parent.showDetails=true") {{listing.tagline}}
      div#placeholder(ng-show="results.length == 0")
        .listing.panel.panel-default.row
          .panel-body
            span Tell your fellow thoughtworkers to list their place!  
       
     #details.listing.panel.panel-default.col-xs-12.col-sm-5(ng-show="showListing")
        .panel-body
          uib-carousel(no-wrap="noWrapSlides")
            uib-slide(ng-repeat="slide in slides" active="slide.active")
              img(ng-src="{{slide.image}}" style="margin:auto;")
          div(ng-show="showDetails" style="margin-top:5px")
            p
              span(style="font-weight:bold") Listing: 
              span {{controller.selectedListings.tagline}}
            p
              span(style="font-weight:bold") Location: 
              span {{controller.selectedListings.location}}
            p
              span(style="font-weight:bold") More about this listing: 
              span {{controller.selectedListings.description}}
            p
              span(style="font-weight:bold") Sharing: 
              span {{controller.selectedListings.type}}
            p
              span Contact 
                a(ng-href="mailto:{{controller.selectedListings.user.email}}" ng-bind="controller.selectedListings.user.name")
              span  for more details  
  script(src="/scripts/listingsController.js")
  script(src="/scripts/listings.js")
