extends layout

block content
  h1=title
  #listings(ng-app="thoughtbnb", ng-controller="ListingsController")
    .listing.panel.panel-default.col-xs-12.col-sm-4(ng-repeat="listing in listings")
      .panel-body
        h3 {{listing.location}}
        p
          a(href="mailto:{{listing.user.email}}") {{listing.user.name}}
        p {{listing.description}}
  script(src="/scripts/listings.js")
  script(src="/scripts/listingsController.js")
