extends layout
block content
  div(ng-app="thoughtbnb", ng-controller="ListingsController as controller")
    h3 Tell us more about your place
    #newAddress.panel.panel-default.col-xs-12.col-sm-4
      .panel-body
        p(ng-cloak)#formError.text-danger {{formError}}
        .form-group
          label(for="tagline") Listing name
          input#tagline.form-control(ng-model="controller.newTagline", placeholder="e.g. My super awesome crashpad")
        .form-group
          label(for="location") Location
          .input-group
            input#location.form-control(ng-model="controller.newLocation", placeholder="e.g. Fisherman's Wharf, San Francisco, CA")
            span.input-group-addon
              span.glyphicon.glyphicon-map-marker
        .form-group
          label(for="description") Description
          textarea#description.form-control(placeholder="e.g. Close to BART station, futon or bed, etc", ng-model="controller.newDescription")
        .form-group
          label(for="features") What are you sharing?
          select.form-control(ng-model="controller.newType" ng-init="controller.newType='apartment'")
            option(value="apartment") Apartment
            option(value="bed/futon") Bed/Futon
            option(value="room") Room
        .form-group
          .checkbox
            label
              input#available(type="checkbox", ng-model="controller.newAvailable")
              | Visible
        .form-group
          label(for="images") Upload some pictures of your place
          img#gallery(ng-src="img/glyph_detailed_house.png")
          input#uploadFiles(type="file" accept="image/*")
          
        .form-group
          button#btnAdd.btn.btn-primary(ng-click="controller.add()", ng-hide="controller.editing") Add
          button#btnEdit.btn.btn-primary(ng-click="controller.update()", ng-show="controller.editing") Update
          button#btnCancel.btn.btn-default(ng-click="controller.resetForm()", ng-show="controller.editing") Cancel
    #listings
      .listing.panel.panel-default.col-xs-12.col-sm-5(ng-repeat="listing in listings")
        .panel-body
          h3(ng-cloak) {{listing.tagline}}
          p(ng-cloak) {{listing.location}}
          p(ng-cloak) {{listing.description}}
          p(ng-cloak) {{listing.type}}
          p
            i(ng-cloak) {{(listing.available) ? "" : "Not "}}Visible
          button(ng-click="controller.edit(listing._id)") edit
  script(async='async', defer='defer', src='https://maps.googleapis.com/maps/api/js?key='+googleMapsKey+'&libraries=places&callback=initLocationSearch')
  script(src="/scripts/userHome.js")
  script(src="/scripts/listingsController.js")
