#log-in
  form.login-form(onsubmit="return false;")
    h1.login-heading ThoughtBnB
    p.login-copy A place for ThoughtWorkers to share space
    .field-container.-username
      label(for="email") E-mail
      input#email(type="email",name="email")
    .field-container.-password
      label(for="password") Password
      input#password(type="password",name="password")
    button#btnSignin.log-in-button Log in
    a.create-account-link(href="/signup") Don't have an account? Sign up

script(src="/scripts/publicHome.js")
script(src="/scripts/signin.js")
